.feature {
 background-color: $main-text-color;
 color: $btn-text-color;
 margin-bottom: 3rem;
		&__card {
   border-radius: 20px;
   height: 200px;
   background-color: $btn-color;
		}

		&__text {
   padding: 2rem 2rem ;
   color: $btn-text-color;
		}
}

