.header {
	padding-top: 3rem;
	min-height: 36rem;
	position: relative;
 color: $main-text-color;
  background:$main-bg-color;
	&__content {
		margin-top: 2.5rem;
	}

	&__text-block {
		max-width: 50%;
	}

	&__tittle {
		font-size: 3.8rem;
		margin: 3rem 0;
	}

	&__subtitle {
		font-size: 1.5rem;
		max-width: 400px;
		line-height: 2rem;
		margin-bottom: 2rem;
	}

	&__description {
		line-height: 1.5rem;
		padding-right: 1rem;
		margin-bottom: 3.5rem;
	}

	&__button--more {
		cursor: pointer;
		height: 50px;
		min-width: 130px;
		padding: 0.5rem 1.5rem;
		border-radius: 2.3rem;
		background-color: $btn-color;
		color: $btn-text-color;
		transition: background-color 0.3s ease-out;
		&:hover {
			background-color: rgb(227, 231, 3);
		}
	}

	&__image {
		position: absolute;
		right: 0;
		top: 0;
		max-height: 800px;
		max-width: 800px;
		// z-index: -10;
	}
}
