.nav {
	max-width: 700px;
	position: relative;
	z-index: 10;
	&__line {
		height: 5px;
		background: linear-gradient(to right, #3977a8, #6b90ac);
		border-radius: 50px;
		margin: 1rem 0;
	}

	&__logo {
		font-size: 2rem;
	}

	&__list {
		display: flex;
		gap: 20px;
		align-items: center;
	}
	&__list-item-link {
		position: relative;
		font-size: 20px;
		font-weight: 500;
		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 0;
			top: 30px;
			height: 3px;
			border-radius: 50px;
			width: 0;
			background-color: $main-text-color;
			transition: width 0.3s ease-out;
		}
		&:hover:after {
			width: 100%;
			color: $main-text-color;
			@media screen and (max-width: 680px) {
				width: 0;
			}
		}
	}
}
