$main-fonts:'Montserrat', sans-serif;
$h1-fs:100px;
$h2-fs:75px;

$main-bg-color:linear-gradient(to right, #5A2DA7 60%, #3977A8, #12BEAA);
$main-text-color:#fff;
$line-color:rgba(51, 131, 168, 1);
$btn-color:rgb(246,250,72);
$btn-text-color:rgba(90, 44, 167, 1);


